body {
	background-color: #EBEBEB;
}

.rootvstack {
	margin-left: 32%;
	height: 97vh;

	padding-top: 1vh;
	padding-bottom: 1vh;
	padding-left: 1vh;
}


.hstack1 {
	display: flex;
	flex: 1;
	flex-direction: row;
	flex-wrap: nowrap;
	height: 34vh;
	justify-content: space-evenly;

	padding-right: 1vh;

	gap: 1vh;

	padding-bottom: 1vh;
}



.hstack2 {
	display: flex;
	flex: 1;
	flex-direction: row;
	justify-content: space-evenly;
	
	height: 66vh;
}




.vstack {
	display: flex;
	flex: 1;
	flex-wrap: nowrap;
	flex-direction: column;

	padding-right: 1vh;

	justify-content: space-evenly;
	

	height: 66vh;
	
}



.hstack-item {
	background: white;
	border-radius: 0.6vw;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	margin-bottom: 1vh;

	height: 100%;
	width: 100%;
}




.button-title-big {
	font-size: 7vw;
	font-family: 'Roboto Mono';
	font-weight: 700;
	

	padding: 0px;
	margin: 0px;

	margin-bottom: -5px;
}

.button-sub-big {
	font-size: 3.5vw;
	font-family: 'Roboto Mono';
	font-weight: 500;

	padding: 0px;
	margin: 0px;

	margin-top: -5px;
}



.button-title-small {
	font-size: 5vw;
	font-family: 'Roboto Mono';
	font-weight: 700;
	

	padding: 0px;
	margin: 0px;

	margin-bottom: -5px;
	
}

.button-sub-small {
	font-size: 2.5vw;
	font-family: 'Roboto Mono';
	font-weight: 500;

	padding: 0px;
	margin: 0px;

	margin-top: -5px;
}




.flex-parent {
	display: flex;
	flex-direction: column;
	padding: 1vw;
	background-color: #DFC6A9;
	height: 97vh; /* FIX THIS : TODO DISACCOUNT FOR WINDOW TAB BAR?*/
	width: 30%;
	float: left;
	border-radius: 0px 1.2vw 1.2vw 0px; 
}

.flex-parent > :not(.flex-scrollable) {
  flex-shrink: 0;
}

.flex-parent > .flex-scrollable {
  flex-grow: 1;
}

.flex-scrollable {
	overflow: auto;
}



.order-heading {
	font-size: 4.5vw;
	font-family: visbyround-medium;
	margin-bottom: 0;
	margin-top: 4vh;
	padding-bottom: 0;
}

.order-sub {
	margin: 0;
	margin-top: -1vh;
	margin-bottom: 0.8vh;
	padding: 0;
	text-align: left;
	font-size: 1.8vw;
	font-family: visbyround-medium;
	color: #777;
}

.order-list {
	font-size: 2vw;
	font-family: 'Roboto Mono';
	border: 0px;
	margin: 0px;
	padding: 0px;
}




.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.modal-buttons {
	float: right;
}

