html, body {
	margin: 0;
}


body {
	background-color: #DFC6A9;
}


h1 {
	color: black;
	margin: 0px;
	text-align: left;
	padding-left: 5vw;
	padding-top: 14vh;
	font-family: visbyround-regular;
	font-size: 4.5vw;
}


.stats-text {
	position: relative;
	text-align: center;
	top: 40%;
	font-size: 4vw;
	font-family: visbyround-medium;
}

.shift-heading {
	position: relative;
	text-align: left;
	padding-left: 30px;
	top: 38%;
	font-size: 4.4vw;
	font-family: visbyround-medium;
}

.shift-sub {
	position: relative;
	text-align: left;
	padding-left: 30px;
	top: 25%;
	font-size: 2vw;
	font-family: visbyround-medium;
	color: #777;

}

.stats-rectangle {
	margin-left: 5vw;
	margin-top: 3vh;
	width: 25vw;
	height: 52vh;
	border-radius: 18px;
	background-color: #F3F3F3;
	box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.15);
}

.shift-rectangle {
	margin-right: 5vw;
	margin-top: 3vh;
	width: 60vw;
	height: 52vh;
	border-radius: 18px;
	background-image: url("./images/coffee.png");
	background-color:  #F3F3F3;
	box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.15);
}



.stats-rectangle {
	width: 25%;
	float: left;
}

.shift-rectangle {
	width: 60%;
	float: right;
}










.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

.modal-buttons {
	float: right;
}

.flex-parent {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 25%;
	float: left;
}

.flex-parent > :not(.flex-scrollable) {
  flex-shrink: 0;
}

.flex-parent > .flex-scrollable {
  flex-grow: 1;
}

.flex-scrollable {
	overflow: auto;
}




@font-face {
	font-family: visbyround-light;
	src: url(./fonts/VisbyRoundCF-Light.woff2)
}

@font-face {
	font-family: visbyround-regular;
	src: url(./fonts/VisbyRoundCF-Regular.woff2)
}

@font-face {
	font-family: visbyround-medium;
	src: url(./fonts/VisbyRoundCF-Medium.woff2)
}

@font-face {
	font-family: visbyround-bold;
	src: url(./fonts/VisbyRoundCF-Bold.woff2)
}


/*

.flex-container {
	display: flex;
}


.flex-child {
	flex: 1;
	border: 2px solid yellow;
}

.flex-child:first-child {
	margin-right: 20px;
}
*/






/* order page stuff */

.grid-container {
	margin-left: 25%;
	height: 100px;
}


.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 50px 50px;
}

.grid-item {
	border: 2px solid yellow;
	text-align: center;
}
