body {
	background-color: lightblue;
}

html, body {
	margin: 0;
}


.flex-parent {
	display: flex;
	flex-direction: column;
}

.flex-parent > :not(.flex-scrollable) {
  flex-shrink: 0;
}

.flex-parent > .flex-scrollable {
  flex-grow: 1;
}

.flex-scrollable {
	overflow: auto;
}

#order-column {
	height: 100vh;
}

#order-column > * {
	margin: 2px 16px 2px 16px;
}


h1 {
	color: red;
	text-align: center;
	font-family: visby;
	/*font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;*/
	font-size: 100px;
}


@font-face {
	font-family: visby;
	src: url(./fonts/VisbyRoundCF-Bold.woff2)
}

.flex-container {
	display: flex;
}


.flex-child {
	flex: 1;
	border: 2px solid yellow;
}

.flex-child:first-child {
	margin-right: 20px;
}



/* order page stuff */

#order-column {
	width: 25%;
	float: left;
}

.grid-container {
	margin-left: 25%;
	height: 100px;
}


.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 50px 50px;
}

.grid-item {
	border: 2px solid yellow;
	text-align: center;
}
